#top-nav {
	width: 100%;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	/*background-color: #333333;*/
	color: white;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.mbf {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0px;
	letter-spacing: 5px;
	line-height: 30px;
}
#con-nav {
	border-radius: 0px;
	border-top-color: white;
	border-left-color: white;
	border-right-color: white;
	border-bottom-color: #e6e6e6;
	background-color: white;
	margin: 0px;
	padding: 0px;
	color: white;
}
.navbar-toggle.collapsed {
	background-color: white;
	border-color: #00ccff;
}
.icon-bar {
	background-color: #00e6e6;
	color: #00e6e6;
}
.dropdown-menu {
	background-color: white;
}

#current {
	color: #00ccff;
}
.header-con {
	width: 100%;
}
.header-pic {
	width: 100%;
}
.home {
	background-color: white;
}
.welcome-con {
	width: 100%;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
.welcome {
	font-family: 'Quicksand', sans-serif;
	margin: 0px;
	padding: 0px;
	color: #00ccff;
}
#test {
	margin: 0px;
	padding: 0px;
}
#tests {
	height: 450px;
	margin: 0px;
	padding: 0px;
	background-color: white;
}
.welcome-description {
	/*color: white;*/
	font-family: 'Quicksand', sans-serif;
	margin-left: 15px;
	margin-right: 15px;
}
.extend {
	width: 100%;
	background-color: white;
	text-align: center;
	padding-top: 8px;
}
.pic {
	margin: auto;
	height: 500px;
	width: 500px;
}
.follow-us-con {
	padding-top: 15px;
	width: 100%;
	text-align: center;
	height: 100vh;
	/*background-color: #333333;*/
	color: white;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
}
.follow-us {
	margin: 0px;
	padding: 0px;
	font-family: 'Quicksand', sans-serif;
}
#facebook {
	margin-top: 15px;
	border: 1px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
}
.foundation-page {
	font-family: 'Quicksand', sans-serif;
	width: 100%;
	height: 100%;
	background-color: #333333;
}
.text-center {
	width: 100%;
	text-align: center;
	color: orange;
	padding-top: 15px;
}
.text-centers {
	width: 100%;
	color: orange;
	padding-top: 15px;
}
.title {
	margin: 0px;
	padding: 0px;
}
.titles {
	color: orange;
}
.strike {
	height: 1px;
	width: 100%;
	background-color: orange;
	margin-top: 10px;
}
.fix {
	color: white;
	line-height: 25px;
}
.family-pic {
	height: 300px;
	width: 420px;
}
.mikestory {
	height: 300px;
	width: 300px;
}
.pendant-pics {
	height: 300px;
	width: 200px;
}
.mprints {
	height: 250px;
	width: 250px;
}
.redlands {
	height: 300px;
	width: 600px;
}
.highlight {
	color: orange;
}
.filler {
	height: 200px;
	width: 100%;
	background-color: #333333;
}














