#top-nav {
	width: 100%;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	background-color: black;
	color: white;
}
.mbf {
	margin-top: 20px;
	padding: 0px;
	letter-spacing: 5px;
	line-height: 30px;
}
#con-nav {
	border-radius: 0px;
	border-top-color: black;
	border-left-color: black;
	border-right-color: black;
	border-bottom-color: black;
	background-color: black;
	margin: 0px;
	padding: 0px;
	color: white;
}
.dropdown-menu {
	background-color: white;
}

#current {
	color: orange;
}
.header-con {
	width: 100%;
}
.header-pic {
	width: 100%;
}
.home {
	background-color: #333333;
}
.welcome-con {
	width: 100%;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
.welcome {
	font-family: 'Quicksand', sans-serif;
	margin: 0px;
	padding: 0px;
	color: orange;
}
.welcome-description {
	color: white;
	font-family: 'Quicksand', sans-serif;
	margin-left: 15px;
	margin-right: 15px;
}
.extend {
	width: 100%;
	background-color: white;
	text-align: center;
	padding-top: 8px;
}
#test {
	margin: 0px;
	padding: 0px;
}
.pic {
	margin: auto;
	height: 500px;
	width: 500px;
}
.follow-us-con {
	padding-top: 15px;
	width: 100%;
	text-align: center;
	height: 100vh;
	background-color: black;
	color: white;
}
.follow-us {
	margin: 0px;
	padding: 0px;
	font-family: 'Quicksand', sans-serif;
}
.facebook {
	margin-top: 15px;
	height: 70px;
	width: 70px;
}
.foundation-page {
	font-family: 'Quicksand', sans-serif;
	width: 100%;
	height: 100%;
	background-color: #333333;
}
.text-center {
	width: 100%;
	text-align: center;
	color: orange;
	padding-top: 15px;
}
.text-centers {
	width: 100%;
	color: orange;
	padding-top: 15px;
}
.title {
	margin: 0px;
	padding: 0px;
}
.titles {
	color: orange;
}
.strike {
	height: 1px;
	width: 100%;
	background-color: orange;
}
.fix {
	color: white;
	line-height: 25px;
}
.family-pic {
	height: 300px;
	width: 420px;
}
.mikestory {
	height: 300px;
	width: 300px;
}
.pendant-pics {
	height: 300px;
	width: 200px;
}
.mprints {
	height: 250px;
	width: 250px;
}
.redlands {
	height: 300px;
	width: 600px;
}
.highlight {
	color: orange;
}
.filler {
	height: 200px;
	width: 100%;
	background-color: #333333;
}














